@page
@model Views.Pages.Candidates.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.CV)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.CV)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.CreationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.CreationTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Candidate.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
